<div  style=" border: 2px solid #999999;
padding: 20px;"  >
  <div style="width: 100%; ">
    <h6 class="elegant-title " style="text-align: center; font-weight: 500">MORE INFORMATION</h6>
    <div   style="display: flex; justify-content: center; align-items: center">

      <div>
        <strong>Location: </strong>
        <label for="">{{name}}</label><br />
        <strong>Type: </strong>
        <label for="">{{type}}</label><br />
        <strong>dimension: </strong>
        <label for="">{{dimension}}</label><br />
        <strong>created: </strong>
        <label for="">{{created| date:'dd/MM/yyyy HH:mm:ss' }}</label><br /><br />
      </div>

    </div>


  <div class="contenedor">
     <button class="boton" (click)="openDialog()">Residents</button>
  <button  mat-button mat-dialog-close class="boton boton-cerrar"><i class="fas fa-times"></i></button>
  </div>

</div>
