.contenedor {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}

.boton {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-cerrar {
  background-color: #e74c3c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px; /* Espacio entre los botones */
  transition: background-color 0.3s;
}

.boton-cerrar:hover {
  background-color: #c0392b;
}
strong{
  color: #207cca;
}
.elegant-title {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


