<div class="card">
  <div class="content">
    <h3 style="text-align: center; font-weight: 500">EPISODE INFORMATION</h3>
    <div
      class="contenedor"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div>
        <strong>Name: </strong>
        <label for="">{{name}}</label><br />
        <strong>Aire Date: </strong>
        <label for="">{{air_date}}</label><br />
        <strong>Episode: </strong>
        <label for="">{{episode}}</label><br />
        <strong>Number Episode: </strong>
        <label for="">{{id}}</label><br /><br />
         <button mat-button mat-dialog-close class="close-button">
          <span class="close-icon">&times;</span>
        </button>
      </div>

    </div>
  </div>
</div>
