.card {
  background-color: #ffffff;
  border: 2px solid #999999;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 14px;
}
.card .content {
  margin-top: 10px;

}
.contenedor {
  display: flex;
  justify-content: space-between;
}
.close-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #ff4d4d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px; /* Aumentamos el tamaño del ícono */
  font-weight: bold;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  outline: none;
}

.close-icon {
  display: inline-block;
  text-align: center;
  line-height: 1;
}


strong{
  color: #207cca;
}
.search-input {
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid  #207cca;
  border-radius: 20px;
  font-size: 16px;
  width: 300px;
  outline: none;
}
