<div class="content-section">
  <img src="{{image}}" alt="Imagen de la sección" class="section-img">
  <div class="section-content">
    <h2 class="section-title">{{name}}</h2>
    <strong>Status: </strong>
    <label for="">{{status}}</label><br>
    <strong>Specie: </strong>
    <label for="">{{species}}</label><br>
    <strong>Gender: </strong>
    <label for="">{{gender}}</label><br>
    <strong>Created: </strong>
    <label for="">{{created| date:'dd/MM/yyyy HH:mm:ss' }}</label><br><br>
    <button mat-button mat-dialog-close class="close-button">
      <span class="close-icon">&times;</span>
    </button>

  </div>
</div>
