<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div  class="container-character">
  <h1 class="elegant-title">LIST OF CHARACTERS</h1>

  <div class="search-container" style="margin-top: 0px;">

    <input type="text" class="search-input" placeholder="Search by name..." [(ngModel)]="searchTerm" (ngModelChange)="getByName()">
    <select class="search-select" [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange(selectedStatus)">

        <option value="all">All</option>
        <option value="alive">Alive</option>
        <option value="dead">Dead</option>
        <option value="unknown">Unknown</option>

    </select>

  </div>


  <div class="character-list-container">

    <div *ngFor="let item of listObjectCharacterInfo" class="character">

      <div>
        <img src="{{item.image}}" alt="" class="imagen">
      </div>
      <div>
        <strong>Name: </strong>
        <label for="">{{item.name}}</label><br>
        <strong>Status: </strong>
        <label for="">{{item.status}}</label><br>
        <button (click)="openDialog(item.image,item.name,item.status,item.species, item.gender, item.created,item.origin.name)" class="ver-button" style="width: 100px;">
          Detail
        </button>

      </div>
      <br>
    </div>
  </div>
  <div class="button-container">
    <button (click)="backPage()" class="play-button" *ngIf="currentPage!=1">
      <i class="fas  fa-undo"></i>
    </button>
    <button (click)="nextPage()" class="play-button" *ngIf="currentPage < totalPage">
      <i class="fas fa-play"></i>
    </button>
  </div>


</div>
